*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    width: 100vw;
}
body{
    background-color: white;
    width: 50%;
}

.esquerda{
    position: absolute;
    width: 32vw;
    height: 100%;
    background-color: #222222;
    z-index: -1;
}
.logo-nike{
    position: absolute;
    display: inline-flex;
    width: auto;
    height: 159px;
    padding-left: 66px;
}
.background-user{
    z-index: -1;
    width: 80px;
    height: 80px;
    background-color: #222222;
    border-radius: 50%;
    align-self: end;
    margin: 20px;
}
.user-logo{
    position: absolute;
    align-self: flex-end;
    z-index: 1;
}
.text-container{
    display: flex;
    flex-direction: row;
    color: black;
    gap: 76px;
    size: 24px;
    padding-top: 46px;
    padding-left: 766px;
    font-family: 'Inter';
    padding-right: 580px;
}
.circulo{
    height: 640px;
    width: 640px;
    background-color: #9C0610;
    margin-left: 277px;
    margin-top: 76px;
    border-radius: 50%;
    align-self: center;
    padding-left: 277px;
    box-shadow: 73px 8px 38px -10px rgba(189, 63, 61, 0.42);
    position: absolute;
}
.img-tenis{
    position: absolute;
    margin-left: 169.52px;
    margin-top: 10px;
    width: 41.21vw;
    height: auto;
}
.jordan-brand{
    margin-left: 1147px;
    width: 13.38vw;
    padding-top: 114px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.34em;
}
.titulo{
    margin-left: 1113px;
    font-size: 6em;
    padding-top: 7.10vh;
    width: 39.11vw;
    height: 12.8;
    font-family: 'Inter';
    letter-spacing: 0.34em;
}
.subtitulo{
    margin-left: 1147px;
    padding-top: 2px;
    width: 33vw;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    font-family: 'Inter';
    color: #585858;
}
.background-shop{
    position: absolute;
    z-index: -1;
    background-color: #0B0B0B;
    width: 19.89vw;
    height: 10.77vh;
    border-radius: 50px;
    margin-left: 1147px;
    margin-top: 53px;
}
.text-shop{
    position: absolute;
    z-index: 1;
    color: white;
    margin-left: 1239px;
    margin-top: 90px;
    font-family: 'Inter';
    letter-spacing: 0.34em;
    font-size: 24px;
}
.sociais{
    color: white;
    list-style: none;
    gap: 33px;
    display: flex;
    flex-direction: row;
    padding-top: 300px;
    padding-left: 53px;
    font-size: 24px;
}
.menu{
    font-size: 24px;
    place-self: end;
    color: black;
}